$main_plain_white: #fff;
$main_company_color: #005794;
$navbar-item-active-border:  #673ab7;
$navbar-item-color: #555;
$navbar-item-active-color: #333;
$navbar-border-color: #ddd;
$chart-item-red-color: #FF0000;
$main_transparent: transparent;
$main_container-max-width: 1200px;
$navbar-collapse-breakpoint: 769px;
$navbar-height: 64px;
$navar-list-item-height: 50px;
$navbar-item-font-size: 14px;
$navbar-item-border-width: 4px;
$main-head-text-font-size: 38px;
$slide-add-text-font-size: 28px;
$advantage-icons-font-size: 70px;
$advantage-main-text-font-size: 18px;
$doc-head-text-margin-bottom: 100px;
$owl-item-img-max-height: 600px;
$user-action-bg-gradient-color: rgba(144, 144, 144, 0.5);
$advert-part-cover-background-color: rgba(255, 255, 255, 0.6);
$registration-btn-max-width: 200px;
$partners-owl-carousel-margin-bottom: 150px;
$foot-menu-line-height: 32px;
$contact-section-ul-line-height: 38px;







